<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"
        integrity="sha512-mhbv5DqBMgrWL+32MmsDOt/OAvqr/cHimk6B8y/bx/xS88MVkYGPiVv2ixKVrkywF2qHplNRUvFsAHUdxZ3Krg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="container app">
        <h2 class="text-center">FINDING SIMILARITY WEBSITE</h2>
        <div class="row g-2 my-4">
            <form action="" method="POST" class="form">
                {% csrf_token %}
                <div class="col-md-8 mx-auto">
                    <div class="form-floating">
                        <div class="input-group">
                            <textarea class="form-control" style="height: 150px" name="query">{{ query }}</textarea>
                            <button class="form-submit form-search" onclick="showLoading();">
                                <img src="https://img.icons8.com/material-outlined/24/000000/search--v1.png"/>
                                Search</button>
                        </div>
                        <div class="mt-3 text-center" id="loading-spinner" style="display:none">
                            <h4 style="display:inline">Finding...</h4>
                            <div class="spinner-border" role="status">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
        {% if plagiat_results %}
            <h3>Finding result</h3>
        <div class="result my-4">
        {% for result in plagiat_results %}
            <div class="row py-2 result-card">
                <div class="card border-secondary mb-3 col-md-12 card-item">
                    <div class="get-data" data-keywords="{% for keyword in  result.data.keywords %}{{ keyword }}{% if not forloop.last %}.{% endif %}{% endfor %}"></div>
                    <div class="card-header" id="{{ result.url }}" onclick="toggle(this.id)"><span style="font-weight: bold;">{{ result.url }} <span class="text-primary">(Similarity: {{ result.data.similarity|floatformat }} %)</span></span> - Click to see details</div>
                    <div class="card-body text-secondary active">
                        <h5 class="card-title">Access to website: <a href="{{ result.url }}" target="_blank">{{ result.url }}</a></h5>
                        <p class="card-text"><strong>Finding query: {{ query }}</strong></p>
                        <p class="card-text highlighted" data-url='{{ result.url }}'>{{ result.data.text }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
    {% load static %}
    <script type="text/javascript" src="{% static 'index.js' %}"></script>
</body>

</html>